  
  <!-- 
NAME @: Shruti Sawant
TOPIC @: Risk Analytics Model Deployment
DATE @: 17/09/2022
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

  <!-----------------------------  STYLE SECTION  ----------------------------------->
<style>

body {
      background-image: url('/static/notfoundbg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: 100% 100%;
}

</style>

  <!----------------------------- BODY SECTIO ----------------------------------->

<body>
    <div class="w3-container">

        <center><div class=" w3-padding-16 " >
            <span class="w3-text-white w3-tag w3-wide " style="font-size:100px; color: blanchedalmond;">404<br>Not Found</span>
        </div></center>
       
       
    </div>
</body>


</html>

  <!-----------------------------  THE END  ----------------------------------->